#product-list-div {
    width:40%;
    float: left;
    margin: 50px;
}

thead {
    text-align: center;
}

#product-list-table {
    height: 90vh;
    overflow: scroll;
}

.product-list-checkbox {
    float: left;
    margin-right: 5px;
}